pkgbase = xkeyboard-layout-phijor
	pkgdesc = Xkeyboard US layout with German letters, phijor adaptions
	pkgver = 1.2
	pkgrel = 1
	arch = any
	license = custom
	depends = xkeyboard-config
	source = phijor.xkb
	sha256sums = d6b593c92a6f62f7b405e3a572a456d479c0c5590491fe1c525ed65234629e9f

pkgname = xkeyboard-layout-phijor

