pkgbase = xkeyboard-layout-phijor
	pkgdesc = Xkeyboard US layout with German letters, phijor adaptions
	pkgver = 1.2.1
	pkgrel = 1
	arch = any
	license = custom
	depends = xkeyboard-config
	source = phijor.xkb
	sha256sums = c6c1cf95962891312805128a87fc62136d5e420cdef7829903be6157c45cd8bd

pkgname = xkeyboard-layout-phijor

